{% extends 'base.html.twig' %}
{% block body %}
    
    <h1>Poziomki - <i>Urszula Sipińska</i></h1>
    <pre>
    Nie widziałam Cię już siedem miesięcy
Obliczyłam, że to jakby pół wieku
Gaśnie lampka pochylona, zgarbiona 
I mrocznieje w człowieku
Dobrej wróżce rzucę złoty pieniążek
Tylko przyjedź, zanim całkiem się ściemni
Zanim mrok się położy na ścieżki
Zanim się ściemni

Wiem, pamiętam, Ty lubiłeś poziomki
Pełną garścią wybierałeś z koszyka
W tamtym lesie, gdzie gałęzie się plączą
Gdzie się drzewo z drugim drzewem dotyka
Nic się nie martw, nazbieramy poziomek
Tylko przyjedź, zanim całkiem się ściemni
Zanim noc schowa je do kieszeni
Przyjedź, zobacz, zanim się ściemni

Lalalala...

Nic się nie martw, nazbieramy poziomek
Tylko przyjedź, zanim całkiem się ściemni
 
    </pre>
{% endblock %}